@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Roboto:wght@400;500&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

ul {
  list-style-type: square;
}

.headerText {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 56px;
  margin: 0;
  line-height: 120%;
  color: #2b2b2b;
}
@media (min-width: 900px) {
  .headerText {
    font-size: 64px;
  }
}

.bodyText {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #2b2b2b;
  line-height: 120%;
}

.primaryButton {
  cursor: pointer;
  background-color: #2b2b2b;
  color: #ffffff;
  font-family: roboto;
  font-weight: 500;
  border-radius: 2px;
  border: 1px solid #2b2b2b;
  transition: 0.5s ease all;
}
.primaryButton:hover {
  background-color: #ffffff;
  color: #2b2b2b;
}
.primaryButton.headerButton {
  font-size: 18px;
  padding: 0.75em 1em;
}
.primaryButton.navigationButton {
  font-size: 14px;
  padding: 10px 12px;
}

.secondaryButton {
  cursor: pointer;
  background-color: #ffffff;
  color: #2b2b2b;
  font-family: roboto;
  font-weight: 500;
  border-radius: 2px;
  border: 1px solid #2b2b2b;
  transition: 0.5s ease all;
  font-size: 14px;
  padding: 10px 0;
  width: 100%;
}
.secondaryButton:hover {
  background-color: #2b2b2b;
  color: #ffffff;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #2b2b2b;
  color: #ffffff;
  font-family: roboto;
  font-size: 14px;
  text-align: center;
  padding: 8px 16px;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 80px;
  bottom: 120%;
  left: 50%;
  margin-left: -56px; /* Use half of the width (120/2 = 60), to center the tooltip */
  opacity: 0;
  transition: opacity 0.25s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #2b2b2b transparent transparent transparent;
}

.navBar {
  height: 64px;
  width: 100%;
  position: fixed;
  background: #ffffff;
  transition: 0.5s ease all;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100;
}
.navBar .navContainer {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #2b2b2b;
  align-items: center;
  position: relative;
  z-index: 100;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
  padding: 0 1em;
}
@media (min-width: 600px) {
  .navBar .navContainer {
    padding: 0 3em;
  }
}
@media (min-width: 900px) {
  .navBar .navContainer {
    padding: 0 9%;
  }
}
.navBar .navContainer .navLogo {
  height: 2.5em;
}
.navBar .navContainer .navContent {
  top: 0;
  left: 100%;
  bottom: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  transform: translate(0);
  transition: 0.5s ease all;
}
@media (min-width: 48em) {
  .navBar .navContainer .navContent {
    transform: none;
    flex-direction: row;
    background: transparent;
    width: auto;
    height: 100%;
    position: static;
  }
}
.navBar .navContainer .navContent .navList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #2b2b2b;
}
@media (min-width: 48em) {
  .navBar .navContainer .navContent .navList {
    flex-direction: row;
    align-items: center;
  }
}
.navBar .navContainer .navContent .navList .navListItem:not(:last-child) {
  margin-bottom: 3em;
}
@media (min-width: 48em) {
  .navBar .navContainer .navContent .navList .navListItem:not(:last-child) {
    margin: 0 1em;
  }
}
.navBar .navContainer .navContent .navList .navListItem .navLink {
  text-decoration: none;
  color: inherit;
  padding: 0.75rem 0;
  transition: 0.5s ease all;
}
.navBar .navContainer .navContent .navList .navListItem .navLink:hover {
  color: #909090;
}
@media (min-width: 48em) {
  .navBar .navContainer .navContent .navButton {
    margin-left: 1em;
  }
}
.navBar .navContainer .navContent .isMenu {
  transform: translate(100%);
}
.navBar .navContainer .contentVisible {
  left: 0;
}
.navBar .navContainer .toggle {
  cursor: pointer;
  display: flex;
  font-size: 1.5em;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease all;
  position: relative;
  color: #2b2b2b;
}
.navBar .navContainer .toggle:hover {
  color: #909090;
}
@media (min-width: 48em) {
  .navBar .navContainer .toggle {
    display: none;
  }
}

.header {
  display: flex;
  background-color: #f4f4f4;
  height: 100%;
  overflow-y: hidden;
  transition: 0.5s ease all;
  padding: 64px 1em 0 1em;
}
@media (min-width: 600px) {
  .header {
    padding: 64px 0 0 3em;
  }
}
@media (min-width: 900px) {
  .header {
    padding: 64px 0 0 9%;
  }
}
.header .headerContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 1em 0 3em 0;
}
.header .headerContainer .subHeaderText {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #909090;
  text-align: right;
}
@media (min-width: 900px) {
  .header .headerContainer .subHeaderText {
    font-size: 28px;
    text-align: left;
  }
}
.header .headerContainer .header-socials {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
  flex-wrap: nowrap;
  margin-bottom: 1em;
}
.header .headerContainer .header-socials .socials-icon:hover {
  transform: scale(1.2);
}
.header .imageContainer {
  display: flex;
  align-items: flex-end;
  padding-top: 5%;
  overflow-x: hidden;
  min-width: 50%;
  height: auto;
  display: none;
}
@media (min-width: 600px) {
  .header .imageContainer {
    display: flex;
    width: 20em;
  }
}
@media (min-width: 900px) {
  .header .imageContainer {
    display: flex;
    width: 35em;
    height: 85vh;
  }
}
@media (min-width: 600px) {
  .header .imageContainer .myImage {
    height: 100%;
  }
}

.about {
  transition: 0.5s ease all;
  padding: 6em 1em 3em 1em;
}
@media (min-width: 600px) {
  .about {
    padding: 6em 3em 3em 3em;
  }
}
@media (min-width: 900px) {
  .about {
    padding: 9em 9% 0 9%;
  }
}
.about .about-content {
  margin-top: 32px;
}

.experience {
  padding: 3em 1em;
  transition: 0.5s ease all;
}
@media (min-width: 600px) {
  .experience {
    padding: 3em;
  }
}
@media (min-width: 900px) {
  .experience {
    padding: 9em 9% 0 9%;
  }
}
.experience .tabs {
  margin-top: 32px;
}
@media (min-width: 900px) {
  .experience .tabs {
    display: flex;
    flex-direction: row;
  }
}
.experience .tab-list {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #2b2b2b;
  padding-left: 0;
  transition: 0.5s ease all;
  margin: 0;
}
@media (min-width: 900px) {
  .experience .tab-list {
    white-space: normal;
    display: block;
    width: 30%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
@media (min-width: 900px) {
  .experience .tab-content {
    padding-left: 3em;
    width: 70%;
  }
}
.experience .tab-list-item {
  display: inline-block;
  cursor: pointer;
  list-style: none;
  padding: 0.75em 1em;
  border-radius: 3px;
  transition: 0.5s ease all;
}
@media (min-width: 900px) {
  .experience .tab-list-item {
    display: flex;
  }
}
.experience .tab-list-item:not(.tab-list-active):hover {
  border: 1px solid #2b2b2b;
  background-color: #ffffff;
}
.experience .tab-list-active {
  color: #ffffff;
  background-color: #2b2b2b;
  border: #2b2b2b;
  border-radius: 3px;
  transition: 0.5s ease all;
}
.experience .tab-position {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #2b2b2b;
  line-height: 120%;
  margin-top: 1em;
}
@media (min-width: 900px) {
  .experience .tab-position {
    margin-top: 0;
  }
}
.experience .tab-duration {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #909090;
  line-height: 50%;
}
.experience .tab-description {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #2b2b2b;
}

.portfolio {
  padding: 3em 1em;
  transition: 0.5s ease all;
}
@media (min-width: 600px) {
  .portfolio {
    padding: 3em;
  }
}
@media (min-width: 900px) {
  .portfolio {
    padding: 9em 9% 0 9%;
  }
}
.portfolio .portfolio-content {
  margin-top: 32px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.portfolio .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin: 1em 0;
  border: 1px solid #f4f4f4;
  transition: 0.5s ease all;
}
@media (min-width: 600px) {
  .portfolio .card {
    width: 48%;
  }
}
@media (min-width: 900px) {
  .portfolio .card {
    width: 31.5%;
  }
}
.portfolio .card .card-image {
  border-radius: 4px 4px 0 0;
  width: 100%;
  height: auto;
  border-bottom: solid 1px #f4f4f4;
}
.portfolio .card .card-contents {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1em;
  padding-bottom: 1em;
}
.portfolio .card .card-title {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #2b2b2b;
  line-height: 120%;
  margin-bottom: 0;
}
.portfolio .card .card-description {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #2b2b2b;
}
.portfolio .card .tools-img {
  z-index: 0;
}
.portfolio .card .tool-image {
  margin: 0 4px;
  z-index: 0;
}
.portfolio .card .button-holder {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  text-decoration: none;
}

.services {
  padding: 3em 1em;
}
@media (min-width: 600px) {
  .services {
    padding: 3em;
  }
}
@media (min-width: 900px) {
  .services {
    padding: 9em 9% 0 9%;
  }
}
.services .services-content {
  margin-top: 32px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services .service {
  width: 100%;
  margin: 1rem 0;
}
@media (min-width: 600px) {
  .services .service {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .services .service {
    width: 31.5%;
  }
}
.services .service .service-icon {
  height: auto;
  width: 96px;
}
.services .service .service-title {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #2b2b2b;
  line-height: 120%;
  margin-bottom: 0;
}
.services .service .service-description {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #2b2b2b;
}

.form {
  padding: 3em 1em;
  transition: 0.5s ease all;
}
@media (min-width: 600px) {
  .form {
    padding: 3em;
  }
}
@media (min-width: 900px) {
  .form {
    padding: 9em 9% 0 9%;
  }
}
.form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.form form input[type=text] {
  font-size: 18px;
  outline: none;
  border: 1px solid #2b2b2b;
  border-radius: 2px;
  padding: 10px 12px;
}
.form form input[type=text]:focus {
  outline: 1px solid #2b2b2b;
}
.form .from-input-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 24px;
}
@media (min-width: 900px) {
  .form .from-input-container {
    flex-direction: row;
  }
}
.form .from-input {
  margin: 8px 0;
}
@media (min-width: 900px) {
  .form .from-input {
    width: 100%;
  }
  .form .from-input:first-child {
    margin-right: 8px;
  }
  .form .from-input:nth-child(2) {
    margin-left: 8px;
  }
}
.form .message-input {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  resize: none;
  padding: 10px 12px;
  margin: 8px 0 1em 0;
}
.form .submit-holder {
  display: flex;
  flex-direction: row-reverse;
}
.form .submitButton {
  width: 100%;
}
@media (min-width: 900px) {
  .form .submitButton {
    width: auto;
  }
}

footer {
  background-color: #f4f4f4;
  margin-top: 3em;
  padding: 3em 1em;
  transition: 0.5s ease all;
}
@media (min-width: 600px) {
  footer {
    padding: 3em 3em;
  }
}
@media (min-width: 900px) {
  footer {
    margin-top: 9em;
    padding: 3em 9%;
  }
}
footer .socials {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: nowrap;
}
footer .socials .socials-icon:hover {
  transform: scale(1.2);
}
footer .message {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-top: 1em;
}
footer .message .message-text {
  margin: 0;
  display: inline-block;
}
footer .message .message-icon {
  display: inline-block;
}/*# sourceMappingURL=index.css.map */